-----------------------------------------------------------------
VIRTUAL ENVIRONMENTS
-----------------------------------------------------------------
venv/
.venv/

-----------------------------------------------------------------
PYTHON BYTE CODE AND CACHE
-----------------------------------------------------------------
Compiled files
pycache/
*.py[cod]
*$py.class

-----------------------------------------------------------------
DATABASE AND LOGS
-----------------------------------------------------------------
SQLite database files created by Django
*.sqlite3

General log files
*.log
*.ini

-----------------------------------------------------------------
DJANGO / ENVIRONMENT SPECIFIC
-----------------------------------------------------------------
Environment variables
.env
*.env

Media/uploads
media/
static_collected/

-----------------------------------------------------------------
IDE FILES (Visual Studio Code, etc.)
-----------------------------------------------------------------
.vscode/
.idea/